.navbar{
  background-color: black;
}
img{
  height:900px;
  width:1000px;
  border-style:solid;
  border-color:white;
  margin-left: auto;
  margin-right : auto;
}
#carouselExampleCaptions{
  margin-top:75px;
margin-right:100px;
margin-left:100px;
}
table{
  border-collapse:collapse;
  margin:auto;
  border-style:solid;
  border-color:white;
}
body{
  background-color:black;
  text-align:left;
  color:white;
}
td{
  padding:6px;
}
tr{
  text-align:left;
}
h1{
  margin-top:15px;
  text-align:center;
}
